@keyframes slideInFromLeft {
    0% {
        background-position: right bottom;

    }
    100% {
         background-position: left bottom;
    }
  }
  @keyframes slide {
      from {background-color: #979797;}
      to {background-color: #f26323;}
  }
.Checkout{
    &::before{
        display: none;
    }
    .Checkout-ProgressBar{
        background: var(--breadcrumbs-background);
        min-height: var(--breadcrumbs-height);
        display: flex;
        justify-content: center;
        .breakpoint{
            position: relative;
            min-height: 50px;
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .numberPlace{
                background-color:#979797;
                color: white;
                width: 30px;
                height: 30px;
                min-width: 30px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .breakpoint-title{
                position: absolute;
                bottom: 2px;
                white-space: nowrap;
                color: #000000;
            }
            .billing{
                left: -150%
            }
            .check{
                background-color: #f26323;
            }
        }
        
        .sidebar, .middlebar{
            margin-top: 20px;
            height: 3px;
            background: linear-gradient(to right, #f26323 50%, #979797 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all .5s ease-out;
            
        }

        .middlebar{
            width: 25vw;
            
        }
        .sidebar{            
            flex-grow: 1;
        }
        .done{
                animation: 1s ease-out 0s 1 slideInFromLeft;
                animation-fill-mode:forwards;

            }

    }
}